body{
    background-image: url("/static/images/vintage-textured-watercolor-paper-background.jpg");
    background-color: #FFFFDD;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 1vh 2vh;
    padding-top: 1%;
    text-align: center;
}
h1{
    text-align: center;
    letter-spacing: 0.5cm;
}
h3,h4{
    font-style: italic;
}

/* .navbar {
    position: fixed;
    width: 100%;
    transition: top 0.3s;
} */

#main-view {
    display: flex;
    margin: 5mm 0;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    background: linear-gradient(to bottom, rgb(221, 171, 96), rgba(240, 148, 11, 0.411));
    text-align: center;
    
}
#my-picture {
    border-radius: 2%;
    width: auto;
    max-height: 30vh;
    margin: 5mm 0 5mm 5mm;
}

#my-name {
    margin: 5mm;
    font-weight: bold;
}
.links {
    text-decoration: none;
    color: rgb(17, 81, 110);
    padding: 2mm 5mm;
}
.links:hover {
    background-color: rgba(245, 219, 148, 0.842);
    border-radius: 10px;
}

.socials {
    display: flex;
    justify-content: center;
}
.socials > a {
    margin: 10px;
    padding: 5px;
}
.socials > a:hover {
    background-color: rgba(245, 219, 148, 0.842);
    border-radius: 5px;
}

#others {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-radius: 25px;
    background: linear-gradient(to bottom, rgb(221, 171, 96), rgba(240, 148, 11, 0.308));
}

#others h2 {
    margin: 10px;
    padding: 10px;
}

#others h2:hover {
    background-color: rgba(245, 219, 148, 0.842);
    border-radius: 15px;
}
