body{
    background-image: url("/static/images/vintage-textured-watercolor-paper-background.jpg");
    background-color: #FFFFDD;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 1%;
    text-align: center;
}
h1{
    text-align: center;
    letter-spacing: 0.5cm;
}
h3,h4{
    font-style: italic;
}
h5{
    text-align: right;
}
.myPicture{
    border-radius: 2%;
    width: 25%; 
    min-width: 180px;
}
.short-info{
    padding-top: 0.5cm;
    padding-bottom: 0.5cm;
    margin: auto;
    border: 3px solid green;
    width: 50%;
    /* display: inline-block; */
    display: flex;
}
